<%- include("partials/header") %>

  <% if (typeof task != "undefined") { %>   
  <h2>Edit Task</h2>
  <% } %>

  <div class="card">    
    <form method="POST" action="<%= typeof task == 'undefined' ? '/tasks' : '/tasks/' + task.id %>">

      <% if (typeof task != "undefined") { %>   
        <input type="hidden" name="_method" value="PUT">
      <% } %>

      <div class="input-group">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="<%= typeof task == 'undefined' ? '' : task.title %>" />
      </div>
      
      <div class="input-group">
        <label for="description">Description</label>
        <input id="description" type="text" name="description" value="<%= typeof task == 'undefined' ? '' : task.description %>" />
      </div>
      
      <div class="input-group">
        <button type="submit"><%= typeof task == 'undefined' ? '+ Add Task' : 'Save Task' %></button>  

        <% if (typeof task != "undefined") { %>
          <a class="button cancel" href="/">Cancel</a>      
        <% } %>
      </div>                
    </form>
  
    <% if (typeof error != "undefined") { %>          
      <div class="error"><%= error %></div> 
    <% } %>
  </div>
          
  <% if (typeof task == "undefined") { %>   
  <div class="card">
    <h2>Task List</h2>

    <div class="table">
      <div class="row header">
        <div class="column col1">Title</div>
        <div class="column col2">Description</div>
        <div class="column col3">Actions</div>
      </div>
  
      <% tasks.forEach((item) => { %>
        <div class="row <% if (item.completed) { %>completed<% } %>">
          <div class="column col1"><%= item.title %></div>
          <div class="column col2"><%= item.description %></div>
          <div class="column col3">
            <form method="POST" action="/tasks/<%= item.id %>">
              <input type="hidden" name="_method" value="PATCH">
              <button class="complete" type="submit"><% if (item.completed) { %> Clear <% } else { %> Complete Task  <% } %></button>
            </form>            

            <a class="button edit" href="/tasks/<%= item.id %>">Edit</a>
  
            <form method="POST" action="/tasks/<%= item.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="delete" type="submit">Delete</button>
            </form>
          </div>
        </div>
      <% }); %>
  
    </div>
  
    <% if (tasks.length == 0) { %>
      <p>No Tasks Found</p>
    <% } %>
  </div>
  <% } %>

<%- include("partials/footer") %>