<%- include("partials/header") %>

  <div class="card">
    <form method="POST" action="/tasks">
      <div class="input-group">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" />
      </div>
      
      <div class="input-group">
        <label for="description">Description</label>
        <input id="description" type="text" name="description" />
      </div>
      
      <div class="input-group">
        <button type="submit">+ Add Task</button>
      </div>                
    </form>
  
    <% if (typeof error != "undefined") { %>          
      <div class="error"><%= error %></div> 
    <% } %>
  </div>
          
  <div class="card">
    <h2>Task List</h2>

    <div class="table">
      <div class="row header">
        <div class="column col1">Title</div>
        <div class="column col2">Description</div>
        <div class="column col3">Actions</div>
      </div>
  
      <% tasks.forEach((item) => { %>
        <div class="row <% if (item.completed) { %>completed<% } %>">
          <div class="column col1"><%= item.title %></div>
          <div class="column col2"><%= item.description %></div>
          <div class="column col3">
            <form method="POST" action="/tasks/<%= item.id %>">
              <input type="hidden" name="_method" value="PATCH">
              <button class="complete" type="submit"><% if (item.completed) { %> Clear <% } else { %> Complete Task  <% } %></button>
            </form>
  
            <form method="POST" action="/delete-task/<%= item.id %>">
              <button class="delete" type="submit">Delete</button>
            </form>
          </div>
        </div>
      <% }); %>
  
    </div>
  
    <% if (tasks.length == 0) { %>
      <p>No Tasks Found</p>
    <% } %>
  </div>

<%- include("partials/footer") %>